.dashboard-layout {
	display: flex;
	height: 100vh;
	padding: 12px;
	background-color: $hr_background;
	.side-nav-bar {
		flex-basis: 20%;
		max-width: 250px;
		min-width: 200px;
		background-color: $hr_background;
		border-radius: 25px;
	}
	.main-container {
		flex-basis: 80%;
		background-color: $hr_white;
		border-radius: 25px;
	}
	.logo-container {
		text-align: center;
		color: $hr_accent;
	}
	.nav-container {
		padding-left: 16px;
		padding-top: 24px;
		.nav-item {
			display: flex;
			align-items: center;
			color: $hr_white;
			padding: 8px;
			.item-name {
				margin-left: 16px;
				font-weight: 800;
			}
		}
	}
}
